<h1>All Users</h1>

<table class="table table-striped" id="Exampledatatable">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">FullName</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.User1)
        {
        <tr>

            <td>@item.Id</td>
            <td>@item.Email</td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.FullName</td>
        </tr>
        }
        @foreach (var item in ViewBag.User2)
        {
            <tr>

                <td>@item.Id</td>
                <td>@item.Email</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.FullName</td>
            </tr>
        }

    </tbody>
</table>

@section Scripts {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.23/datatables.min.js"></script>
    <script>

        $(document).ready(function () {
            $("#Exampledatatable").DataTable();
        });
    </script>
}